.static{
  @include grid-column(1,(columns: 1, gutter: 20px, media: 0));
  @include grid-media((columns: 1, gutter: 20%, media: 800px)){
    @include grid-column(1,(columns: 1, gutter: 20%, media: 800px));
  }

  text-align: center;
  padding: 2em 0 10em 0;

  img.logo{
    display: block;
    width: 20%;
    height: auto;
    margin: 2em auto;
  }
}
